<section class="slice slice-lg sct-color-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <div class="form-user style-1 rounded has-shadow-1">
                    <div class="form-header text-center">
                        <h2 class="form-header-title">Sign in</h2>
                    </div>
                    <div class="form-body">

                      <div class="row">
                          <div class="col-xs-offset-1 col-xs-10">
                              <div class="text-center">
                                  
                              </div>
                          </div>
                      </div>

                      <form>
                        <div class="form-group has-icon">
                          <label class="control-label sr-only" for="inputEmail">Name</label><br>
                          <input type="text" class="form-control" id="inputEmail" placeholder="">
                          <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-icon">
                          <label class="control-label sr-only" for="inputEmail">Email</label><br>
                          <input type="text" class="form-control" id="inputEmail" placeholder="">
                          <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-icon">
                          <label class="control-label sr-only" for="inputPassword">Password</label><br>
                          <input type="password" class="form-control" id="inputPassword" placeholder="">
                          <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-icon">
                          <label class="control-label sr-only" for="inputPassword">Password confirmation</label><br>
                          <input type="password" class="form-control" id="inputPassword" placeholder="">
                          <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
                        </div>

                        <button type="submit" class="btn btn-lg btn-block btn-base-1 mt-20">Sign up</button><br>
                        <button type="submit" class="btn btn-lg btn-block btn-base-1 mt-20">Log in</button>
                      </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
